@model Incomel_Technical_Test.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dpi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dpi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Igss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Igss)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Irtra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Irtra)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaternityBonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaternityBonus)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSalary)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiquidSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiquidSalary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
